.App{
    width: 100vw;
    min-height: 100vh;
    background-color: #fdfae3
}


.flex-container {
}

.flex-child {
    flex: 1;
    margin: 1rem;
}  

/* .flex-child:first-child {
    margin-left: 15rem;
} */