.App{
    width: 100vw;
    min-height: 100vh;
    background-color: #fdfae3
}

.HistoryLogs{
    width: 50%;
    margin: auto;
}

.HistoryCard{
    border-style: solid;
}

.flex-container {
    display: flex;
}

.flex-child {
    flex: 1;
    margin: 1rem;
}  

/* .flex-child:first-child {
    margin-left: 15rem;
} */