.DayLog{
    min-height: 100vh;
}

.sidebar__space__daylog{
    width: 10vw
}

.flex-container__questions{
    height: 100vh;
    width: 40vw;
    /* margin: auto; */
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
}

.flex-child__questions{
    min-width: 10rem;
    width: 15vw;
    padding: 1em ;
    
    border-style: solid;
    margin-bottom: 1rem;
}

.zip-code__input{
    width: 50%
}

.zip-code{
    width: 15vw;
}

.weather{
    width: 15vw
}